---
layout: home
title: "Welcome"
---
# Bill Zhang
Hi! I’m Boyuan Zhang — MASc in Electrical and Computer Engineering, specializing in federated learning, robotics, and AI-driven hardware.  
I enjoy integrating machine learning into hardware systems to create intelligent and sustainable solutions.

<!-- {% if site.show_excerpts %}
  {% for post in site.posts %}
    <article>
      {% include meta.html post=post %}
      {{ post.excerpt }}
      <footer><a class="button" href="{{ post.url | relative_url }}">read more</a></footer>
    </article>
  {% endfor %}
{% else %}
  {% capture source %}{% include_relative archive.html title="Posts" %}{% endcapture %}
  {{ source | split: "---" | last }}
{% endif %} -->
